@font-face {
  font-family: 'Avant Garde Bold';
  src: url('fonts/Avant Garde Bold.eof');
  src: local('☺'), url('fonts/Avant Garde Bold.woff') format('woff'), url('fonts/Avant Garde Bold.ttf') format('truetype'), url('fonts/Avant Garde Bold.svg') format('svg');
}

#foo {
  font-family: 'Avant Garde Bold';
}

small, #notice {
  font-weight: normal;
  opacity: .5;
  font-size: smaller;
}

#post-content {
  overflow: hidden;
  height: 36px;
  margin-top: -13px;
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
}

#post-content.open {
  height: 140px;
}

#post-content .ui-submit {
  margin-top: -20px;
}

#posts small {
  display: block;
}

#account {
  display: none;
}

#share-image {
  width: 100%;
}

#share-text {
  display: none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#refresh.loading .ui-icon-refresh {
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: 1s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}