@font-face {
  font-family: 'Avant Garde Bold';
  src: url('fonts/ITCAvantGardeStd-Bold.eof');
  src: local('☺'), url('fonts/ITCAvantGardeStd-Bold.woff') format('woff'), url('fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'), url('fonts/ITCAvantGardeStd-Bold.svg') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: 'Avant Garde Extra Light';
  src: url('fonts/ITCAvantGardeStd-XLt.eof');
  src: local('☺'), url('fonts/ITCAvantGardeStd-XLt.woff') format('woff'), url('fonts/ITCAvantGardeStd-XLt.ttf') format('truetype'), url('fonts/ITCAvantGardeStd-XLt.svg') format('svg');
}

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:focus {
  outline: 0;
}

body, input, select, textarea, button {
  font-family: 'Avant Garde Bold', Helvetica, Arial, sans-serif;
  color: #31485f;  
  font-weight: bold;
  -webkit-text-size-adjust: none;
  font-size: 18px;
  line-height: 20px;
}

input, textarea {
  -webkit-user-select: text;
}

a {
  text-decoration: none;
  color: #bcc3c7;
}

p {
  margin: 0 0 10px 0;
}

header, header a {
  color: #fff;
}

header {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #31485f;
  box-shadow: 0 5px 0 rgba(0, 0, 0, .25);
  z-index: 2;
}

header h1 {
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  width: 100px;
  height: 38px;
  margin: 0 auto;
}

input[type=text], textarea, select, .btn {
  -webkit-appearance: none;
  display: block;
  padding: 0 10px;
  margin: 0 0 10px 0;
  background: #fff;
  border: 1px solid #cacfd3;
  border-radius: 5px;
  width: 278px;
}

button:hover {
  cursor: pointer;
}

button.btn {
  width: 300px;
  line-height: 34px;
}

.btn {
  height: 30px;
}

input[type=text], select, .btn {
  height: 30px;
  line-height: 38px;
}

select, .btn {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .25); 
  line-height: 36px;
}

select:active, .btn:active {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.25);
}

input[type=text], textarea {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, .25);   
}

input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select,
.btn {
  color: rgba(255, 255, 255, 0.5);
}

select {
 height: 42px; 
}

.btn, button {
  text-align: center;
}

small, #notice {
  color: #bcc3c7;
}

hr {
  border: none;
  height: 1px;
  background: #ebf0f1;
  margin: 0 -10px 10px -10px;
}

#notice {
  padding: 10px;
}

#posts-content {
  position: absolute;
  z-index: 1;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

#posts {
  margin-top: 5px;
}

#post {
  z-index: 3;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #fff;
}

#message {
  min-height: 150px;
  height: 150px;
  margin: 0;
}

#template {
  visibility: hidden;
}

#color {
  display: none;
}

.post-action {
  position: absolute;
  top: 208px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  text-indent: -2000px;
  background-color: #31485f;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.post-action:active {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.25);
}

#set-color {
  left: 140px;
  background-image: url(../img/colors.png);
  background-position: 0 0;
  background-size: 30px 30px;
}

#submit-post {
  right: 10px;
  background-image: url(../img/ok.png);  
  background-position: 5px 5px;
  background-size: 20px 20px;
}

#submit-post.disabled {
  opacity: 0.5;
}

#cancel-post {
  left: 10px;
  background-color: #fff;
  border: 1px solid #cacfd3;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-image: url(../img/cancel.png);  
  background-position: 5px 5px;
  background-size: 20px 20px;
}

#set-color:active {
  border-color: #fff;
}

#colors {
  width: 320px;
  height: 215px;
  overflow: hidden;
  margin: 45px -10px 0 -10px;
  background-color: #ECF0F1;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.25);
}

#swatches {
  padding: 30px 0 0 0;
}

.swatch {
  display: block;
  float: left;
  margin: 0 0 20px 12px;
  width: 65px;
  height: 65px;
  border-radius: 33px;
  overflow: hidden;
  text-indent: -2000px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.swatch:active {
  box-shadow: inset 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.swatch.selected {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.25);
}

#black,
.black {
  background: #2B2B2B;
}

#gray,
.gray {
  background: #7F8C8D;
}

#red,
.red {
  background: #E74C3C;
}

#yellow,
.yellow {
  background: #F1C40F;
}

#blue,
.blue {
  background: #2980B9;
}

#orange,
.orange {
  background: #E67E22;
}

#green,
.green {
  background: #27AE60;
}

#purple,
.purple {
  background: #8E44AD;
}

.content .btn-primary {
  border: 1px solid #31485f;
  color: #fff;
  background: #31485f;
}

.content .btn-danger {
  border: 1px solid #e74c3c;
  color: #fff;
  background: #e74c3c;
}

.btn-small {
  display: inline-block;
  height: 15px;
  line-height: 18px;
  width: auto;
  padding: 0 5px;
  margin: 0;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);   
}

.btn-icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  text-indent: -2000px;
}

header .btn-icon {
  background-size: 20px 20px;
  top: 10px;
}

header .btn-close {
  background-image: url(../img/close.png);
}

header .btn-add {
  background-image: url(../img/add.png);
}

header .btn-back {
  background-image: url(../img/back.png);
}

header .btn-ok {
  background-image: url(../img/ok.png);
}

header .btn,
.modal.screen header .btn,
.modal header .btn {
  width: auto;
  color: #fff;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

header .btn:active {
  background-color: transparent;
}

header .btn-icon, .modal.screen header .btn-icon, .modal header .btn-icon {
  width: 20px;
}

header .btn.disabled,
.modal.screen header .btn.disabled,
.modal header .btn.disabled {
  opacity: .5;
} 

header .btn-left, 
header .btn-right {
  position: absolute;
  top: 4px;
}

header .btn-left {
  left: 10px;
}

header .btn-right {
  right: 10px;
}

header .btn-icon {
  top: 10px;
}

#posts {
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.25);
}

#posts li {
  padding: 10px;
  border-bottom: 1px solid #ebf0f1; 
}

.message {
  display: block;
  padding: 20px 15px;
  margin: 0 0 10px 0;
  width: 270px;
  min-height: 260px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .25);
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0;
  border: none;
}

#posts small {
  display: block;
  font-size: 12px;
  line-height: 12px;
  position: relative;
}

#posts a.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 24px;
  line-height: 8px;
  height: 15px;
  z-index: 0;  
  color: #bcc3c7;
}

.modal {
  opacity: 0;
  position: fixed;
  width: 280px;
  top: 1136px;
  right: 10px;
  left: 10px;
  z-index: 1001;
  background: #fff;
  color: #556471;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .25);  
  padding: 0 10px;
/*  -webkit-transition: top .5s;
*/}

.modal.show {
  opacity: 1;
  top: 10px;
}

.modal header {
  position: relative;
  width: 300px;
  margin: 0 -10px 15px -10px;
}

.modal .btn {
  width: 258px;
}

.modal.screen {
  width: 300px;
  height: 460px;
  right: 0;
  left: 0;
  z-index: 999;
}

.modal.screen.show {
  top: 0;
}

.modal.screen header {
  width: 320px;
  margin-bottom: 15px;
}

.modal.screen .btn {
  width: 278px;
}

#modal-background {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #000;
/*  -webkit-transition: opacity .5s;
*/}

#modal-background.show {
  display: block;
  opacity: .75;
}

.error {
  color: #e74c3c;
}

@media only screen and (min-width: 560px) and (max-device-width: 1136px) {
  /* 88 extra pixels */
  #posts-content {
    height: 508px;
  }
  html, body {
    height: 548px;
  }  
  #message {
    min-height: 198px;
    height: 198px;
  }
}