@font-face {
  font-family: 'Avant Garde Bold';
  src: url('fonts/ITCAvantGardeStd-Bold.eof');
  src: local('☺'), url('fonts/ITCAvantGardeStd-Bold.woff') format('woff'), url('fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'), url('fonts/ITCAvantGardeStd-Bold.svg') format('svg');
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:focus {
  outline: 0;
}

body, input, select, textarea, button {
  font-family: 'Avant Garde Bold', Helvetica, Arial, sans-serif;
  color: #31485f;  
  font-weight: bold;
  -webkit-text-size-adjust: none;
  font-size: 18px;
  line-height: 20px;
}

body {
  padding-top: 40px;
  width: 320px;
}

input, textarea {
  -webkit-user-select: text;
}

a {
  text-decoration: none;
  color: #bcc3c7;
}

p {
  margin: 0 0 10px 0;
}

header, header a {
  color: #fff;
}

header {
  background: #31485f;
  height: 38px;
  border-top: 1px solid #3d5a77;
  border-bottom: 1px solid #283a4c;
  box-shadow: 0 5px 0 rgba(0, 0, 0, .25);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .25);  
  position: fixed;
  top: 0;
  width: 320px;
}

header h1 {
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}

#posts-content {
  box-shadow: 0 -5px 0 rgba(0, 0, 0, .25);  
}

input[type=text], textarea, select, .btn {
  -webkit-appearance: none;
  display: block;
  padding: 0 10px;
  margin: 0 0 10px 0;
  background: #fff;
  border: 1px solid #cacfd3;
  border-radius: 5px;
  width: 278px;
}

button.btn {
  width: 300px;
  line-height: 34px;
}

#submit-post:disabled {
  -webkit-text-fill-color: #fff;
}

input[type=text], select, .btn {
  height: 30px;
  line-height: 38px;
}

select, .btn {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .25); 
  line-height: 36px;
}

input[type=text], textarea {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, .25);   
}

input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select,
.btn {
  color: #8e949a;
}

select {
 height: 42px; 
}

.btn, button {
  text-align: center;
}

small, #notice {
  color: #bcc3c7;
}

#notice {
  padding: 10px;
}

#post-content {
  overflow: hidden;
  height: 33px;
  padding: 10px;
  background: #ebf0f1 center center no-repeat;
  background-size: 568px 568px;
  /*
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  */
}

#message {
  height: 22px;
  line-height: 20px;
  padding-top: 8px;
}

#post-content.open {
   height: 140px; 
  /* temporarily making this bigger and removing distance to see if it's an improvement */
}

#post-content.open #message {
  height: 90px;
}

#post-content.open #message::-webkit-input-placeholder {
  color: transparent;
}

/* temporarily hiding this to see if it's better without */
#distance {
  display: none;
  width: 300px;
  height: 30px;
  line-height: 36px;
  background: #fff url(../img/select.png) no-repeat right top;
  background-size: 26px 30px;
}

.btn:hover, .btn:active {
  background: #bcc3c7;
  color: #fff;
}

.btn-primary {
  border: 1px solid #31485f;
  color: #fff;
  background: #31485f;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.pressed {
  background: #3d5a77;
  border-color: #3d5a77;
}

.btn-icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  text-indent: -2000px;
}

.btn-refresh {
  background-image: url(../img/refresh.png);
  background-size: 20px 40px;
}

.btn-refresh.loading {
  background-position: 0 -20px;
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: .75s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

header .btn-close {
  background-image: url(../img/close.png);
  background-size: 20px 20px;
  top: 10px;
}

header a {
  opacity: .5;
}

header a#points:hover,
header a#points:active,
header a.btn-close:hover,
header a.btn-close:active {
  opacity: 1;
}

header .btn-left, 
header .btn-right {
  position: absolute;
  top: 10px;
}

header .btn-left {
  left: 10px;
}

header .btn-right {
  right: 10px;
}

#points {
  top: 12px;
  display: none;
}

#refresh {
  top: 10px;
}

#posts li {
  padding: 10px;
  border-bottom: 1px solid #ebf0f1; 
}

#posts .message {
  display: block;
  padding: 20px 15px;
  margin: 0 0 5px 0;
  min-height: 260px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .25);
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  background: #2d2d2d;
}

#posts small {
  display: block;
  font-size: 12px;
  line-height: 12px;
}

.modal {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1001;
  background: #fff;
  color: #556471;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, .25);  
  border: 1px solid #cacfd3;
  border-radius: 5px;
  padding: 60px 10px 10px 10px;
}

.modal header {
  width: 280px;
  left: 20px;
  top: 20px;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#alert {
  top: 100px;
  bottom: 100px;  
}

#alert header {
  top: 100px;
}

#store {
  top: 70px;
  bottom: 70px;
}

#store header {
  top: 70px;
}

.modal .btn {
  width: 238px;
}

#alert .btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#modal-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  opacity: .75;
}

#loading {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 130px;
  top: 200px;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}

#spinner {
  height: 20px;
  width: 20px;
  margin: 20px 0 0 20px;
  background-image: url(../img/refresh.png);
  background-size: 20px 40px;
  background-position: 0 -20px;
  -webkit-animation-name: rotate; 
  -webkit-animation-duration: .75s; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}